main{
    width: 80%; height: auto;
    margin-left: 10%;
    margin-top: 5%;
}
.why{
    text-align: center;
    color: #43C2F3;
}
.reasons{
    width: 60%;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% auto;
}
.reason{
    text-align: center;
}

.locations{
    height: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.location{
    width: 280px;
    box-shadow: 2px 2px 5px 0 #666;
}
.location img{
    width: 280px;
}
.content{
    width: 90%;
    margin-left: 15px;
}
.fe-star{
    color: #FFD43B;
    font-size: 20px;
    font-weight: bold;
}
.fa-star{
    color: #FFD43B;
}
.fa-star-half-stroke{
    color: #FFD43B;
}
.clock{
    display: flex;
    gap: 30px;
}
.clock img{
    width: 20px; height: 20px;
}
.x-money{
    display: flex;
    gap: 40px;
}
.money{
    color: red;
    font-weight: bold;
}
.vnd{
    color: red;
    font-size: 20px; font-weight: bold;
}

.events{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    
}
.event{
    display: flex;
    width: 580px; height: 200px;
    gap: 20px;
    border: 2px solid gray;
}

.event img{
    width: 240px;
    height: 200px;
}
.event h3{
    margin-top: 0;
    height: 20px;
}
.xemthem{
    margin-top: 10px;
    margin-left: 170px;
    width: 130px; height: 35px;
    background-color: white;
    color: #43C2F3;
    border: 2px solid #43C2F3;
    border-radius: 5px;
}

.top{
    margin-top: 100px;
}
.country-x-three{
    display: flex;
    gap: 30px;
    
}
.country-x-three img{
    width: 98%;
}
.nations{
    margin-top: 40px;
    display: flex;
    gap: 25px;
}
.nations img{
    width: 180px;
}

.donghanh{
    text-align: center;
}
.sponsor{
    display: flex;
    gap: 50px;
}
.sponsor img{
    width: 200px;
    height: 100px;
}
