/* header */
.head{
    position: relative;
    display: flex;
    max-width: 90%; height: 90px;
    margin:  auto;
}
.logo{
    position: absolute;
}
.logo img{
    position: absolute;
    width: 145px; height: 120px;
}
.menu{
    position: absolute;
    display: flex;
    width: 900px;
    justify-content: space-evenly;
    left: 200px;
    top: 30px;
    text-align: center;
}

.menu-con{
    width: 150px; height: 50px;
}
.menu-con:hover{
    width: 150px; height: 50px;
    background-color: #43C2F3;
    border-radius: 15px;
}

.page{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.page:hover{
    color: white;
    
}

.icon-header{
    width: 200px;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    margin-left: 1150px;
    margin-top: 40px;
}
.icon-head{
    width: 30px;
    height: 30px;
}


/* footer */
footer{
    margin-top: 5%;
    /* position: relative; */
}
.mail{
    position: relative;
    text-align: center;
    width: 80%; height: 230px;
    left: 10%;
    background-color: #43C2F3;
    color: white;
    border-radius: 10px;
}
.mail h1{
    position: absolute;
    left: 0; right: 0;
}
.mail p{
    position: absolute;
    top: 60px;
    width: 90%;
    text-indent: 10%;
    
}
.enter{
    display: flex;
    /* position: relative; */
    justify-content: center;
}
.enter-your-email{
    position: absolute;
    width: 500px; height: 60px;
    text-indent: 20px;
    border-radius: 50px;
    border: none;
    top: 140px;
}

.follow-email{
    position: absolute;
    width: 120px; height: 30px;
    border-radius: 30px;
    background-color: #43C2F3;
    right: 440px;
    top: 155px;

}
.follow{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-decoration: none;
    color: white;
}

.section{
    display: flex;
    flex-wrap: wrap;
    gap: 84px;
    width: 80%; height: 400px;
    margin: auto;
}
.chudam{
    color: black; 
    text-decoration: none;
    font-weight: bold;
}
.huongdan a{
    text-decoration: none;
    color: black;
}
.canbiet a{
    text-decoration: none;
    color: black;
}
.icon-mxh{
    display: flex;
    gap: 30px;
}
.icon-mxh img{
    width: 30px;
}
.icon-dowload{
    display: flex;
    gap: 20px;
}
.icon-dowload img{
    width: 140px;
}
.icon-pay{
    display: flex;
    gap: 40px;
}
.icon-pay img{
    width: 45px;
}
